<launch>
  <arg name="scene_file" default="$(find pedsim_simulator)/scenarios/eng_hall.xml"/>
  <arg name="world_name" default="$(find pedsim_gazebo_plugin)/worlds/eng_hall.world"/>
  <arg name="gui" default="true" doc="Bring up the Gazebo graphical interface"/>
  <arg name="pose_initial_x" default="1.0"/> 
  <arg name="pose_initial_y" default="1.0"/>
  <arg name="map_file" default="$(find robot_gazebo)/maps/gazebo_eng_lobby/gazebo_eng_lobby.yaml"/>
  <arg name="initial_pose_x" default="1.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.13"/>
  <arg name="model_file" default="$(find drl_vo_nav)/src/model/drl_pre_train.zip"/>
  <arg name="log_dir"   default="$(find drl_vo_nav)/src/runs"/>
  <!-- Output -->
  <arg name="output" default="log"/>
  <arg name="enable_opencv" default="true"/>
  <arg name="enable_console_output" default="true"/>
  <arg name="rviz" default="true"/> 

  <!-- Pedsim Gazebo -->
  <include file="$(find pedsim_simulator)/launch/robot.launch">
    <arg name="scene_file" value="$(arg scene_file)"/>
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="pose_initial_x" value="$(arg pose_initial_x)"/> 
    <arg name="pose_initial_y" value="$(arg pose_initial_y)"/>
  </include>

  <!-- AMCL -->
  <include file="$(find robot_gazebo)/launch/amcl_demo_drl.launch">
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!-- YOLO Detector -->
  <include file="$(find darknet_ros)/launch/yolo_v3.launch">
    <arg name="output" value="$(arg output)"/>
    <arg name="enable_opencv" value="$(arg enable_opencv)"/>
    <arg name="enable_console_output" value="$(arg enable_console_output)"/>
  </include>


  <!-- MHT Tracker -->
  <include file="$(find openmht)/launch/mht.launch">
    <arg name="output" value="$(arg output)"/>
  </include>

  <!-- CNN DATA -->
  <include file="$(find drl_vo_nav)/launch/nav_cnn_data.launch"/>

  <!-- DRL-VO Control Policy -->
  <include file="$(find drl_vo_nav)/launch/drl_vo_train.launch">
    <arg name="model_file" value="$(arg model_file)"/>
    <arg name="log_dir" value="$(arg log_dir)"/>
  </include>

  <!-- Rviz -->
  <include file="$(find robot_gazebo)/launch/view_navigation.launch" if="$(arg rviz)"/>

</launch>
